body {
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  display: block;
}

address {
  font-style: normal;
}

.container {
  @extend %container;
}