@import './common';
@import "./utils/placeholders";
@import "./base/base-style";
@import "./utils/variables";
@import "./components/home/header/header-styles";
@import"./components/card.scss";
@import "./components/home/main/body";
@import "./components/home/footer/footer-styles";
@import "./components/modal.scss";
@import './components/home/main/pagination'