@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0px 32px;
    width: 1280px;
  }
}

body {
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  display: block;
}

address {
  font-style: normal;
}

.header-body {
  display: block;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-images/header/header-bg-x1/header-bg-320-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  min-height: 230px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-images/header/header-bg-x2/header-bg-320-x2.jpg");
  }
}
@media screen and (min-width: 320px) {
  .header-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-images/header/header-bg-x1/header-bg-768-x1.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .header-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-images/header/header-bg-x1/header-bg-768-x1.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-images/header/header-bg-x1/header-bg-1280-x1.jpg");
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-images/header/header-bg-x2/header-bg-1280-x2.jpg");
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo::before {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/lib-images/header/Logo_film.svg");
}

.logo__text {
  display: none;
  font-size: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
  }
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
  transform: scaleX(0);
}
.header-nav__link:hover::after {
  transform: scaleX(1);
}

.button-bar {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.button-bar__item:not(:last-child) {
  margin-right: 20px;
}

.button {
  display: block;
  min-width: 130px;
  min-height: 44px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 33;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-bar__btn--active {
  background: transparent;
  background: #ff6b01;
  border: 0px;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.film-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.film-card-section {
  padding-bottom: 40px;
  padding-top: 20px;
}

.film-img {
  width: 280px;
  height: 402px;
}

.film-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 116%;
}

.film-tag {
  line-height: 133%;
  color: #ff6b08;
}

/* mobile */
/* @media screen and (min-width: 480px) {
	.container {
	  width: 480px;
	}
 } */
/* tablet */
@media screen and (min-width: 768px) {
  .film-img {
    width: 336px;
    height: 455px;
  }
  .film-list {
    gap: 32px;
    justify-content: flex-start;
  }
  .film-name {
    line-height: 133%;
  }
  .film-card-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
/* desctop */
@media screen and (min-width: 1280px) {
  .film-img {
    width: 394px;
    height: 574px;
  }
  .film-list {
    row-gap: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .film-name {
    font-size: 20px;
    line-height: 120%;
  }
  .film-tag {
    line-height: 120%;
  }
}/*# sourceMappingURL=my-lib.css.map */