@import './common';
@import "./base/base-style";
@import "./utils/variables";
@import "./components/my-lib/header/header";
@import "./components/my-lib/header/headers-btn";
@import "./components/home/main/body";
@import "./components/home/footer/footer-styles";
@import "./components/modal.scss"