<div class='modal-card__flex-btn-wrap'>
      <button class='modal-card__watched-btn' data-id="{{id}}">Add to watched</button>
      <button class='modal-card__queue-btn' data-id="{{id}}">Add to queue</button>
    </div>