%visibility {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding: 0px 32px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 32px;
    width: 1280px;
  }
}
