$main-white: rgba(255, 255, 255, 1);
$main-red: rgba(255, 0, 27, 1);
$main-black: rgba(0, 0, 0, 1);
$main-orange:rgba(255, 107, 8, 1);
$main-gray: rgba(247, 247, 247, 1);
$information-modal-text:rgba(140, 140, 140, 1);
$gradient:linear-gradient(
  to right,
  rgba(0, 0, 0, 0.56),
  rgba(0, 0, 0, 0.56)
);