// .container {
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 20px;
//   padding-right: 20px;
//   min-width: 320px;

//   @media screen and (min-width: 320px) {
//     max-width: 768px;
//   }

//   @media screen and (min-width: 768px) {
//     max-width: 1280px;
//   }
// }
