<header class="header">
  <div class="header-body">
    <div class="container">
      <div class="header-wrap">
        <a class="logo link" href="../src/index.html">
          <span class="logo__text">Filmoteka</span></a
        >
        <nav class="header-nav">
          <ul class="header-nav__list list">
            <li class="header-nav__item">
              <a class="header-nav__link link" href="../src/index.html">Home</a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__link link header-nav__link---active" href=""
                >My library</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <ul class="button-bar list">
        <li class="button-bar__item">
          <button class="button-bar__btn button button-bar__btn--active">
            Watched
          </button>
        </li>
        <li class="button-bar__item">
          <button class="button-bar__btn button">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
