<main>


</main>
=======
    <section class="film-card-section">
        <div class="container">
            <ul class="film-list-home"></ul>
            <div class="modal visibility">
                <div class="modal-window" id="checking">
                    <button class="btn-close" type="button">
                        <svg class="btn-close__svg" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-close"></use>
                        </svg>
                    </button>
                    <div class="clearing-modal">

                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>


    </section>
  <include src="./partials/my-lib/userBar.html"></include>
</main>

