<div class="container container--user-bar">
    <ul class="user-tools__list">
        <li class="user-tools__item">
            <button class="user-tools__btn user-tools__btn--toggle">
                <svg width="40" height="40" class="user-tools__icon">
                    <use class="sun" width="32" href="./images/symbol-defs.svg#icon-sun"></use>
                    <use class="moon" width="32" href="./images/symbol-defs.svg#icon-moon"></use>
                </svg>
            </button>
        </li>
    </ul>
    <nav class="menu-tags">
        <ul class="menu-tags__list"></ul>
    </nav>
</div>