<div class="backdrop backdrop--autorization is-hidden">
  <div class="modal-autorization">
    <button type="button" class="modal__close modal__close--autorization">
      <svg class="icon-close" width="16" height="16">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="log-in__title">FILL IN THE FORM</h2>
    <form class="form">
      <ul class="form__input-list">
        <li class="form__input-item">
          <label class="form__label"
            ><span class="form__text">E-mail:</span
            ><input
              type="email"
              name="email"
              placeholder="example@gmail.com"
              class="form__input" /><svg
              class="form__icon"
              width="20"
              height="20"
            >
              <use href="./images/sprite.svg#icon-email"></use></svg
          ></label>
        </li>
        <li class="form__input-item">
          <label class="form__label">
            <span class="form__text">Password</span>

            <input
              class="form__input"
              type="password"
              name="password"
              placeholder="******" />
            <svg class="form__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-key"></use></svg
          ></label>
        </li>
      </ul>
      <ul class="form__btn-list">
        <li class="form__btn-item">
          <button
            class="form__btn form__btn--sign-in"
            type="submit"
            data-push="Sign up"
          >
            Sign up
          </button>
        </li>
        <li class="form__btn-item">
          <button
            class="form__btn form__btn--log-in"
            type="submit"
            data-push="Log in"
          >
            Log in
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
