<header class="home_header">
  <div class="home_header-container container">
    <nav class="home_header-navigation">
      <a href="./index.html" class="home_header-logo">
        <svg width="24" height="24" aria-label="логотип головний">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
      </a>
      <a href="./index.html" class="home_header-logo-text">Filmoteka</a>

      <ul class="home_header-nav">
        <li class="header-nav__item">
          <a href="./index.html" class="home_header-link home_current">Home</a>
        </li>

        <li class="header-nav__item header-nav__item-lib">

          <a href="./my-lib.html" class="home_header-link home_header-link-position header-my-library">My library</a>
        </li>

        <li class="">

        <li class="header-nav__item">

          <a href="#" class="home_header-link home_header-link-position header-sign-in">Sign in</a>
        </li>
        <li>
          <a href="#" class="home_header-link visually-hidden home_header-link-position  header-sign-out">Sign out</a>
        </li>
      </ul>
    </nav>
    <form action="search" class="home_header-form">
      <div class="anim-for-input"> <input type="text" placeholder="Movie search" class="home_header-input"
          name="query" /></div>
      <button type="submit" class="home_header-btn">
        <svg width="12" height="12" aria-label="пошук головний">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="home_header-attention">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>