<main>
  <section class="film-card-section">
    <div class="container">
      <ul class="film-list"></ul>

      <div id="pagination" class="tui-pagination"></div>

      <div class="modal visibility">
        <div class="modal-window" id="checking">
          <button class="btn-close" type="button">
            <svg class="btn-close__svg" width="30" height="30">
              <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
          </button>
          <div class="clearing-modal">

          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </div>


  </section>

  <div class="sign-container">
    <a href="" class="login-button">Login</a>
  </div> -->
  <div class="sign-popup">
    <div class="sign-popup-content">
      <h1 class="sign-popup-title">Sign in</h1>
      <p class="sign-input-info sign-input-info-email">Write your email</p>
      <input
        type="text"
        placeholder="Email"
        class="sign-popup-email-input sign-popup-inputs"
        required
      />
      <p class="sign-input-info">Write your password</p>
      <input
        type="password"
        placeholder="Password"
        class="sign-popup-psw-input sign-popup-inputs"
        required
      />
      <p>
        By creating an account you agree to Firebase
        <a
          href="https://firebase.google.com/support/privacy"
          style="color: dodgerblue"
          target="_blank"
          >Terms & Privacy</a
        >
      </p>
      <div class="sign-modal-btn-wrap">
        <button
          type="button"
          class="modal-sign-button login-button-wrapped modal-log-in-button"
        >
          Log In
        </button>
        <button
          type="button"
          class="modal-sign-button login-button-wrapped modal-signup-button"
        >
          Sign Up
        </button>
      </div>
      <!-- <button type="button" class="login-button">Log out</button> -->
      <button type="button" class="modal-sign-button login-cancel-button">
        Cancel
      </button>
    </div>
  </div>
</main>

</main>
