<main>
  <section class="film-card-section">
    <div class="container">
      <ul class="film-list">
        <li data-id="" class="film-item">
          <img
            width="280"
            class="film-img"
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg"
            alt=""
          />
          <p class="film-name">
            GREYHOUND <br />
            <span class="film-tag">Drama, Action | 2020</span>
          </p>
        </li>
        <li data-id="" class="film-item">
          <img
            width="280"
            class="film-img"
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg"
            alt=""
          />
          <p class="film-name">
            GREYHOUND <br />
            <span class="film-tag">Drama, Action | 2020</span>
          </p>
        </li>
        <li data-id="" class="film-item">
          <img
            width="280"
            class="film-img"
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg"
            alt=""
          />

          <p class="film-name">
            GREYHOUND <br />
            <span class="film-tag">Drama, Action | 2020</span>
          </p>
        </li>
        <li data-id="" class="film-item">
          <img
            width="280"
            class="film-img"
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg"
            alt=""
          />
          <p class="film-name">
            GREYHOUND <br />
            <span class="film-tag">Drama, Action | 2020</span>
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
