<main>
  <include src="./partials/home-page/userBar.html"></include>
  <section class="film-card-section">
    <div class="container">
      <ul class="film-list"></ul>
      <div class="pagination-container">
        <button class="pagination-button arrow-left">
          <svg class="icon-arrow-left" width="16" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="pagination-button first-button">1</button>
        <span class="dots" id="previous">...</span>
        <button class="pagination-button pagination--current" data-index="1">
          1
        </button>
        <button class="pagination-button" data-index="2">2</button>
        <button class="pagination-button" data-index="3">3</button>
        <button class="pagination-button" data-index="4">4</button>
        <button class="pagination-button" data-index="5">5</button>
        <span class="dots" id="after">...</span>
        <button class="pagination-button last-button">1000</button>
        <button class="pagination-button arrow-right">
          <svg class="icon-arrow-right" width="16" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <include src="./partials/home-page/scrollToTop.html"></include>
</main>
