<div class="container container--user-bar">
  <ul class="user-tools__list">
    <li class="user-tools__item">
      <button class="user-tools__btn user-tools__btn--autorization">
        <svg width="40" height="40" class="user-tools__icon">
          <use
            width="36"
            class="light current"
            href="./images/sprite.svg#icon-user-login"
          ></use>
        </svg>
      </button>
    </li>
    <li class="user-tools__item">
      <button class="user-tools__btn user-tools__btn--toggle">
        <svg width="40" height="40" class="user-tools__icon">
          <use
            class="sun"
            width="32"
            href="./images/sprite.svg#icon-sun-"
          ></use>
          <use
            class="moon"
            width="32"
            href="./images/sprite.svg#icon-moon"
          ></use>
        </svg>
      </button>
    </li>
    <li class="user-tools__item">
      <button class="user-tools__btn user-tools__btn--menu">
        <svg
          width="40"
          height="40"
          class="user-tools__icon user-tools__icon--menu is-open"
          aria-label="переключатель меню авторизации"
        >
          <use class="menu-open-svg" href="./images/sprite.svg#icon-menu"></use>
          <use
            class="menu-close-svg"
            href="./images/sprite.svg#icon-closeSecond"
          ></use>
        </svg>
      </button>
    </li>
  </ul>
  <nav class="menu-tags">
    <ul class="menu-tags__list"></ul>
  </nav>
</div>
