// img {
//     width: 100%;
//     max-width: 100%;
//     height: auto;
// }

.home_header-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

// li{
//     list-style-type: none;
// }
.home_header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
  background-image: url(../images/home-png/home-mob@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/home-png/home-mob@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/home-png/home-tab@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/home-png/home-tab@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/home-png/home-dec@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/home-png/home-dec@2x.png);
    }
  }
}

.home_header-logo-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;

  @media screen and (max-width: 768px) {
    visibility: hidden;
    display: none;
  }
}

.home_header-logo {
  text-decoration: none;
  display: flex;
  align-self: center;
}

.home_header-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    transform: scaleX(0);
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.home_header-navigation {
  display: flex;
}

.home_header-nav {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  // margin: 0;
  // padding-left: 0;
  // list-style: none;
}

.header-nav__item:nth-child(-n + 2) {
  margin-right: 40px;
}

// .home_header-link-position {
//     margin-left: 40px;
// }

.home_header-form {
  position: relative;
  overflow: hidden;
  width: 280px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  @media screen and(min-width:768px) {
    width: 336px;
  }
  @media screen and(min-width:1280px) {
    width: 394px;
  }
  // border-bottom: 0.5px solid #FFFFFF;
}

.home_header-input {
  overflow: hidden;
  border: none;
  outline: none;
  background: transparent;
  height: 20px;
  font-family: 'Roboto';
  color: #ffffff;

  color: $main-white;
  width: 100%;
  background-color: transparent;
  border: 0;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

input::placeholder {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
}

.home_header-btn {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 92%;
  background-color: transparent;
  border: 0;
  @media screen and (min-width: 768px) {
    left: 95%;
  }
  @media screen and (min-width: 1280px) {
    left: 370px;
  }
}

// .home_current {
//     border-bottom: 3px solid #FF001B;

// }

.home_header-attention {
  visibility: hidden;
  margin: 0;
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-left: auto;
  margin-right: auto;
  color: #ff001b;

  @media screen and (min-width: 768px) {
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.anim-for-input::before {
  content: '';
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0;

  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: $main-white;
  transform: translateX(-101%);
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.anim-for-input:hover::before {
  transform: translateX(0);
}
